@import '../node_modules/mini.css/dist/mini-default.min.css';

.container {
    border: 1px solid #ddd;
    margin: 30px;
    padding: 30px;
}

.center-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph {
    border: 1px solid #ddd;
    height: 500px;
    width: 1000px;
}

